# Tomorrow Night Eighties in ~/.config/git/tomorrow-night-eighties.config
# Included in ~/.gitconfig via:
# [include]
#     path = ~/duqcyxwd/DotFiles/git/colors.config

# [color "status"]
#     header    = "#999999"
#     added     = "#99cc99"
#     changed   = "#f2777a"
#     untracked = "#ffcc66"
#     branch    = "#2d2d2d" "#6699cc"
#     # Because the phrase "Detached HEAD" isn't unnerving enough
#     nobranch  = bold ul blink "#f99157"
# [color "diff"]
#     meta      = "#515151"
#     func      = "#cc99cc"
#     frag      = "#66cccc"
#     context   = "#999999"
#     old       = "#f2777a" "#393939"
#     new       = "#bef2be" "#515151"


# {{Dracula}} with my changes
[color "status"]
    header = "#6272a4"
    added = "#50fa7b"
    changed = "#ffb86c"
    untracked = "#8be9fd"
    branch = "#bd93f9" "#282a36"
    # Because the phrase "Detached HEAD" isn't unnerving enough
    nobranch = bold ul blink "#f99157"
[color "diff"]
    meta = "#6272a4"
    func = "#bd93f9"
    frag = "#8be9fd"
    context = "#f8f8f2"
    old = "#ff5555" "#282a36"
    new = "#50fa7b" "#282a36"


# [color "status"]
#     header    = 8
#     added     = 10
#     changed   = 12
#     untracked = 14
#     branch    = 0 9
#     nobranch  = bold ul blink 12
# [color "diff"]
#    meta       = 3
#    func       = 13
#    frag       = 11
#    context    = 8
#    old        = 12 1
#    new        = 10 3
