atom/packages
atom/snapshot-cache/
atom/split-diff/
atom/git-time-machine/
.zcompdump
.zsh_history
.git
.vimroot
Session.vim
.DS_Store
tags
yarn.lock
__pycache__
.luarc.json
testfile/
.nrepl-port
vim/nvim/log/*.log
vim/nvim/vim-deprecated/
