" vim:fdm=marker:ts=4:sw=4:et:
"        _
" __   _(_)_ __ ___  _ __ ___
" \ \ / / | '_ ` _ \| '__/ __|
"  \ V /| | | | | | | | | (__
"   \_/ |_|_| |_| |_|_|  \___|
"
" Chuan's .ideavimrc for IntelliJ

" ---------------
" Color
" ---------------
" colorscheme monokai-chris
"
let mapleader =" "
set background=dark

set hlsearch
set showmode
set undolevels=100
set mps+=<:>

" ---------------
" UI
" ---------------
set ruler          " Ruler on
set number         " Line numbers on

set hlsearch
set scrolloff=3
set ignorecase smartcase
set showmode
set history=1000

" easy system clipboard copy/paste
noremap <space>y "*y
noremap <space>Y "*Y
noremap <space>p "*p
noremap <space>P "*P

" easy window navigation
nnoremap gl <c-w>l
nnoremap gj <c-w>j
nnoremap gh <c-w>h
nnoremap gk <c-w>k

nnoremap <leader>tw :action EditorToggleShowWhitespaces<cr>
nnoremap <leader>l <c-w>l

" switch between current and last buffer
"nmap <leader>. <C-^>
nnoremap <leader>. :action VimFilePrevious<cr>
nmap <leader>/ :nohlsearch<CR>
nmap <leader>cc :action CommentByLineComment<CR>
nmap <leader>rff :action ReformatCode<CR>
nmap <leader>, :action AceJumpAction<CR>
nmap <leader>q :action CloseContent<CR>
nmap csw' :action Macro.surround_with_single_quote<CR>
nmap csw" :action Macro.surround_with_double_quote<CR>
nmap ds' :action Macro.surround_undo_single_quote<CR>
nmap ds" :action Macro.surround_undo_double_quote<CR>
nmap cs"' :action Macro.surround_double_to_single_quote<CR>
" remove extra whitespace
nmap <leader><space> :%s/\s\+$<CR>
"nmap ,<space> :%s/\s\+$//e<CR>
"
"
"https://github.com/saaguero/ideavimrc/blob/master/.ideavimrc
"https://github.com/rekendahl/dotfiles/blob/master/.ideavimrc
